tqdm==4.67.1
langchain==0.2.17
javascript
setuptools==78.1.1
openai==1.78.1
chardet==5.2.0
cchardet==2.1.7
chromadb==0.3.29
tiktoken==0.9.0
requests==2.32.3
gymnasium==1.1.1
psutil==7.0.0
minecraft_launcher_lib==6.5
